html {
    --color0: #fff;      /* Wit */
    --color1: #F5F1DC;   /* Licht-beige */
    --color2: #780116;   /* Rood */
    --color3: #102022;   /* Zwart */
    --color4: #E36414;   /* Oranje */
}

@font-face {
    font-family: 'Brother1816';
    src: url('/fonts/Brother1816-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

header {
    background-color: var(--color2);
    color: var(--color1);
}


body {
    background-color: var(--color1);
    color: var(--color3);
    font-family: 'Brother1816', sans-serif;
}

h1, h2, h3 {
    font-family: "Galada";
}

.border {
    padding: 2rem;
    border: 1px solid var(--color2);
    border-radius: 55px;
}


.product-containers {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

.product-containers div {
    background-color: var(--color3);
    color: var(--color1);
    border: 1px solid var(--color2);
    border-radius: 55px;
}

.product-containers div .img-container {
    width: 100%;
    border: 1px solid var(--color2);
    border-radius: 55px;
}

.product-containers div div {
    padding: 1.2rem;
    padding-bottom: 2rem;
}

.product-containers div div p {
    font-size: 1.2rem;
}

.btn {
    background: var(--color4);
    color: var(--color1);
    text-decoration: none;
    font-family: "Galada";
    font-size: 1.2rem;
    padding: 0.4rem 3rem;
    border-radius: 30px;
    display: inline-block;
}


.merch-slider {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 1rem;
    padding: 1rem;
    border-radius: 30px;
    background-color: var(--color0);
    cursor: grab;
    -webkit-overflow-scrolling: touch;
}

.merch-slider:active {
    cursor: grabbing;
}