html {
    --color0: #fff;      /* Wit */
    --color1: #F5F1DC;   /* Licht-beige */
    --color2: #780116;   /* Rood */
    --color3: #102022;   /* Zwart */
    --color4: #E36414;   /* Oranje */
}

@font-face {
    font-family: 'Brother1816';
    src: url('/fonts/Brother1816-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

header {
    background-color: var(--color2);
    color: var(--color1);
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    position: relative;
}

header input[type="checkbox"] {
    display: none;
}

.hamburger-menu,
.search-menu,
.winkelzak-menu {
    display: none;
}

.hamburger-menu,
.search-menu,
.winkelzak-menu {
    position: fixed;
    top: 80px;
    left: 0;
    width: 100%;
    height: calc(100% - 80px);
    background-color: var(--color2);
    color: var(--color1);
    padding: 2rem;
    box-sizing: border-box;
    z-index: 100;
}

#menu-toggle-ham:checked ~ .hamburger-menu {
    display: block;
}

#menu-toggle-search:checked ~ .search-menu {
    display: block;
}

#menu-toggle-zak:checked ~ .winkelzak-menu {
    display: block;
}

.icon-close {
    display: none;
}

#menu-toggle-ham:checked + label .icon-hamburger {
    display: none;
}

#menu-toggle-ham:checked + label .icon-close {
    display: inline;
}

.search-menu h3 {
    margin-bottom: 1rem;
}

.search-menu input {
    background-color: var(--color1);
    width: 100%;
    padding: 1rem;
    border-radius: 20px;
    border: none;
}

.winkelzak-menu p {
    margin: 2rem 0;
    text-align: center;
    font-style: italic;
}

.winkelzak-menu a {
    display: block;
    text-align: center;
    margin: 0.5rem 0;
    color: var(--color1);
    text-decoration: none;
}


body {
    background-color: var(--color1);
    color: var(--color3);
    font-family: 'Brother1816', sans-serif;
}

h1, h2, h3 {
    font-family: 'Galada';
}


.border-slide {
    border: 1px solid var(--color2);
    border-radius: 55px;
}

.slider-products {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 0.8rem;
    padding: 1rem;
    background-color: var(--color1);
    cursor: grab;
    -webkit-overflow-scrolling: touch;
}

.slider-products:active {
    cursor: grabbing;
}

.slider-products div {
    background-color: var(--color3);
    color: var(--color1);
    border: 1px solid var(--color2);
    border-radius: 40px;
}

.slider-products div .img-container {
    width: 100%;
    border: 1px solid var(--color2);
    border-radius: 40px;
}

.slider-products div div {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 1rem;
}

h2 {
    font-size: 2.2rem;
    margin-bottom: 1rem;
    margin-left: 2rem;
}


.btn {
    background: var(--color4);
    color: var(--color1);
    text-decoration: none;
    font-family: "Galada";
    font-size: 1.2rem;
    padding: 0.4rem 3rem;
    border: 1px solid var(--color1);
    border-radius: 30px;
    display: inline-block;
}

.add-btn {
    background: var(--color4);
    border: 1px solid var(--color1);
    border-radius: 50px;
    padding: 0.5rem 0.5rem;
}

.add-btn img{
    width: 20px;
    height: 20px;
}



/*kleding*/

.border {
    padding: 1rem;
    border: 1px solid var(--color2);
    border-radius: 55px;
}

.product-containers {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

.product-containers div {
    background-color: var(--color3);
    color: var(--color1);
    border: 1px solid var(--color2);
    border-radius: 55px;
}

.product-containers div .img-container {
    width: 100%;
    border: 1px solid var(--color2);
    border-radius: 55px;
}

.product-containers div div {
    padding: 1.2rem;
    padding-bottom: 2rem;
}

.product-containers div div p {
    font-size: 1.2rem;
}