html {
    --color0: #fff;      /* Wit */
    --color1: #F5F1DC;   /* Licht-beige */
    --color2: #780116;   /* Rood */
    --color3: #102022;   /* Zwart */
    --color4: #E36414;   /* Oranje */
}

@font-face {
    font-family: 'Brother1816';
    src: url('/fonts/Brother1816-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* header*/

header {
    position: fixed;
    background-color: var(--color2);
    color: var(--color1);
    height: 80px;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    gap: 5.5rem;
    z-index: 200;
}

header input[type="checkbox"] {
    display: none;
}

header img {
    margin-left: 1rem;
}

.header-layout {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.icon-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.icon-btn img {
    width: 32px;
    height: 32px;
}

.hamburger-menu,
.search-menu,
.winkelzak-menu {
    position: fixed;
    top: 80px;
    left: 0;
    width: 100%;
    height: calc(100% - 80px);
    background-color: var(--color2);
    color: var(--color1);
    padding: 1rem;
    box-sizing: border-box;
    z-index: 100;
    display: none;
}

#menu-toggle-ham:checked ~ .hamburger-menu,
#menu-toggle-search:checked ~ .search-menu,
#menu-toggle-zak:checked ~ .winkelzak-menu {
    display: block;
}

#menu-toggle-ham:checked + label .icon-hamburger {
    display: none;
}

#menu-toggle-ham:checked + label .icon-close {
    display: inline;
}

.icon-close {
    display: none;
}

.tittle-menu {
    text-align: center;
    font-size: 2rem;
    margin: 0.01rem;
    margin-bottom: 1rem;
}


/*search*/

.search-menu input {
    background-color: var(--color1);
    width: 100%;
    padding: 1rem;
    border-radius: 20px;
    border: none;
}

/*winkel*/

.winkelzak-menu .winkelzak-inside {
    margin: 2rem 0;
    text-align: center;
    font-style: italic;
    font-size: 1.1rem;
    border: 1px solid var(--color1);
    border-radius: 30px;
    text-align: center;
    padding: 1rem;
}

.winkelzak-menu a {
    display: block;
    margin: 0.5rem 0;
    color: var(--color1);
    text-decoration: none;
}

/*hamburger / nav */

.nav-layout {
    display: flex;
    flex-direction: column;    
    margin: 0.5rem 0;
    padding: ;
    
}

.nav-layout a {
    text-decoration: none;
    color: var(--color1);
}

.nav-layout-small {
    display: flex;
    flex-direction: column;
    margin: 0.5rem 0;
    margin-left: 25px;
}


/*body*/

main {
    margin: 1rem;
    padding-top: 80px;
}

body {
    background-color: var(--color1);
    color: var(--color3);
    font-family: 'Brother1816', sans-serif;
}

h1, h2, h3 {
    font-family: 'Galada';
}

.begin {
    background-color: var(--color2);
    color: var(--color1);
    border: 1px solid var(--color2);
    border-radius: 40px;
    text-align: center;
    margin: 1rem;
    padding: 2rem;
}

h2 {
    font-size: 2.2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 2rem;
}

.product-card {
    background-color: var(--color3);
    color: var(--color1);
    border: 1px solid var(--color2);
    border-radius: 40px;
    overflow: hidden;
    padding-bottom: 1rem;
    /*scroll-snap-align: start;
    flex-shrink: 0;
    width: 100%;*/
}

.product-card .img-container {
    width: 100%;
    border-bottom: 1px solid var(--color2);
    /*border: 1px solid var(--color2);
    border-radius: 40px;*/
    display: block;
}

.product-info {
    /*padding: 1.2rem /*1.2rem 2rem*/
    padding-left: 0.6rem;
    padding-right: 0.6rem;
}

.product-info p {
    font-size: 0.9rem;
}

h5 {
    margin: 0px;
}

.product-info h5 {
    font-size: 1.4rem;
    margin-bottom: 20px;
}

.btn {
    background: var(--color4);
    color: var(--color1);
    text-decoration: none;
    font-family: "Galada";
    font-size: 1.2rem;
    padding: 0.4rem 1.2rem;
    border: 1px solid var(--color1);
    border-radius: 30px;
    display: inline-block;
}

.add-btn {
    background: var(--color4);
    border: 1px solid var(--color1);
    border-radius: 50px;
    padding: 0.5rem 0.5rem;
}

.add-btn img{
    width: 20px;
    height: 20px;
}

.border-slide {
    border: 1px solid var(--color2);
    border-radius: 55px;
}

/* slider */

.slider-products {
    display: flex;
    overflow-x: auto;
    gap: 0.8rem;
    padding: 1rem;
    border-radius: 50px;
    /*cursor: grab;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;*/
}

.slider-products:active {
    cursor: grabbing;
}

.slider-products .product-card {
    width: 150px;
    flex-shrink: 0;
    /*border-radius: 35px;*/
}

.see-more-btn {
    background: var(--color4);
    color: var(--color1);
    align-self: center;
    white-space: nowrap;
    padding: 1rem;
    text-decoration: none;
    font-family: "Galada";
    font-size: 1.2rem;
    border: 1px solid var(--color1);
    border-radius: 30px;
}


/* grid / containers */

.border-grid {
    padding: 1rem;
    border: 1px solid var(--color2);
    border-radius: 55px;
}

.product-containers {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

/*.border-grid p {
    text-align: center;
    margin-top: 2rem;
}*/

.product-containers > .btn {
    grid-column: span 2;
    justify-self: center;
}

.product-containers .product-card {
    width: 100%;
}

.text-wait-for-more {
    font-family: "Galada";
    text-align: center;
    margin: 4rem;
    font-size: 1.5rem;
}